{% extends "layout.html" %}

{% block title %}
    password
{% endblock %}

{% block main %}
    <form action="/password" method="post">

        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="current_password" name="current_password" placeholder="Current Password" type="password">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="new_password" name="new_password" placeholder="New Password" type="password">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="confirmation" name="confirmation" placeholder="Confirmation" type="password">
        </div>
        <button class="btn btn-primary" type="submit">変更</button>
    </form>
{% endblock %}
